* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
}


.Shape {
  position: absolute;
  top: 15px;
  right: 0px;
  width: 100%;
  height: 863px;
}

.dimension2 {
  display: none;
  position: absolute;
  top: 15px;
  right: 0px;
  width: 100%;
  height: 863px;
}

.menu li {
  display: inline-block;
}

.menu {
  float: right;

}

.menu a {
  padding: 50px;
}

.Sobre-nosotros {
  width: 110px;
  height: 22px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.8);
}

base {
  width: 100%;
  height: 140px;
  max-width: 1280px;
  min-width: 360px;
  opacity: 0;
}

.logo {
  float: left;
}

.Group-7 {
  position: relative;
  width: 283px;
  height: 65px;
  object-fit: contain;
  margin-top: 10px;
  margin-left: 20px;
}

.derec {
  position: relative;
  margin-top: 15px;
  float: right;
}

.quiet {
  margin-right: 10px;
  float: left;
}

.boton {
  top: 46px;
  left: 977px;
  width: 120px;
  height: 48px;
  border-radius: 6px;
  border: solid 1.4px #ff0136;
  background-color: #ffffff;
}

.text {
  font-size: 16px;
  font-weight: 900;
  color: #ff0136;
  text-decoration: none;
}

.botond {
  display: inline-block;
  width: 120px;
  height: 48px;
  border-radius: 6px;
  border: solid 1.4px #ff0136;
  background-color: #ff0136;
}

.textd {
  font-size: 16px;
  font-weight: 900;
  color: #ffffff;
  text-decoration: none;
}

.bajar {
  margin-top: 15px;
  text-align: center;
}

.Imagen {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 700px;
  height: 901px;
}

.Imagen2 {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 700px;
  height: 901px;
}



.titulo {
  position: relative;
  width: 550px;
  height: 128px;
  font-size: 50px;
  line-height: 1.07;
  letter-spacing: -3px;
  left: 135px;
}

.slogan {
  width: 550px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  color: rgba(38, 38, 38, 0.8);
  top: 350px;
  left: 135px;
}


.buscador {
  width: 470px;
  height: 65px;
  border-radius: 6px;
  box-shadow: 0 12px 20px 6px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  top: 450px;
  left: 135px;
  line-height: 2;
}

#buscador {
  border-radius: 6px;
}

.outlinenone {
  outline: none;
  background-color: #ffffff;
  border: 0;
  float: right;
  top: 10px;
}

.Group {
  margin: 5px;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.duda {
  width: 410px;
  height: 30px;
  opacity: 0.4;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #2f2f2f;
}

.aprende {
  display: inline-block;
  width: 140px;
  height: 124px;
  border-radius: 6px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}

.comunidad {
  display: inline-block;
  width: 140px;
  height: 124px;
  border-radius: 6px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  margin: 40px;

}

.graduation {
  width: 50px;
  height: 49px;
  object-fit: contain;
  display: block;
  margin: auto;
}

.Aprende {
  width: 115px;
  height: 22px;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(38, 38, 38, 0.8);
  text-decoration: none;
}

.conversation-1 {
  width: 50px;
  height: 49px;
  object-fit: contain;
  display: block;
  margin: auto;
}

.Comunidad {
  width: 115px;
  height: 22px;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(38, 38, 38, 0.8);
}

.oval {
  width: 80px;
  height: 80px;
  border: solid 1.4px rgba(255, 1, 54, 0.2);
  border-width: 2px 2px 2px;
  border-style: dotted;
  border-radius: 100px;
  top: 790px;
  left: 110px;
}

.Oval {
  width: 40px;
  height: 40px;
  box-shadow: 0 6px 40px 0 rgba(255, 1, 54, 0.16);
  background-color: #ffffff;
  border-radius: 100px;
  text-align: center;
  margin: auto;
  margin-top: 18px;
}

.-Icon-olor {
  width: 14px;
  height: 7px;
  object-fit: contain;
  margin: auto;
  margin-top: 18px;
}

.llamanos {
  width: 220px;
  height: 120px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  text-align: left;
  border-radius: 13px;
  position: absolute;
  top: 42px;
  right: 0px;
}

.mensaje {
  width: 200px;
  height: 57px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.6);
  position: absolute;
  left: 15px;
  top: 20px;
  text-align: left;
}

.mensaj {
  width: 168px;
  height: 57px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
  position: absolute;

}

.mensa {
  position: absolute;
  top: 30px;
}

.dos {
  width: 1280px;
  height: 863px;
}

.shape2 {
  width: 1280px;
  height: 863px;
  margin-top: 40px;
}

.preguntas {
  width: 372px;
  height: 44px;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: -2px;
  color: #ff0136;
  position: absolute;
  top: 975px;
  left: 135px;
}

.Pieza {
  position: absolute;
  top: 840px;
  left: 742px;
  width: 606px;
  height: 901px;
  object-fit: contain;
}

.Rectangle {
  border-radius: 6px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
  position: absolute;
  top: 1053px;
  left: 135px;
}

.acerca {
  width: 200px;
  height: 61px;
  font-size: 17px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #2f2f2f;
  position: absolute;
  top: 3px;
}

.Grou {
  width: 10px;
  height: 10px;
  right: 12x;
  top: 5px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.pregunta {
  width: 372px;
  height: 44px;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: -2px;
  color: #ff0136;
  position: absolute;
  top: 1900px;
  left: 135px;
}

.shapee {
  width: 1280px;
  height: 863px;
  margin-top: 70px;
}

.titu2 {
  width: 550px;
  height: 128px;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: -3px;
  position: absolute;
  top: 1850px;
  left: 400px;
}


.foto {
  width: 136px;
  height: 136px;
  object-fit: contain;
  position: absolute;
  top: 1929px;
  left: 215px;
}

.cuadro {
  width: 300px;
  height: 260px;
  border-radius: 25px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  position: absolute;
  top: 1995px;
  left: 135px;
}

.fecha {
  width: 220px;
  height: 19px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #262626;
  position: absolute;
  top: 80px;
  left: 40px;
}

.nombr {
  width: 150px;
  height: 27px;
  font-size: 20px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #262626;
}

.coment {
  width: 260px;
  height: 57px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: oblique;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(38, 38, 38, 0.6);
}

.cuadr {
  width: 300px;
  height: 260px;
  border-radius: 25px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  position: absolute;
  top: 1995px;
  left: 535px;
}

.fot {
  width: 136px;
  height: 136px;
  object-fit: contain;
  position: absolute;
  top: 1929px;
  left: 615px;
}

.cuad {
  width: 300px;
  height: 260px;
  border-radius: 25px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  position: absolute;
  top: 1995px;
  left: 935px;
}

.fo {
  width: 136px;
  height: 136px;
  object-fit: contain;
  position: absolute;
  top: 1929px;
  left: 1015px;
}

.segundoc {
  width: 300px;
  height: 260px;
  border-radius: 25px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  position: absolute;
  top: 2365px;
  left: 135px;
}

.fotuu {
  width: 136px;
  height: 136px;
  object-fit: contain;
  position: absolute;
  top: 2299px;
  left: 215px;
}

.segundo {
  width: 300px;
  height: 260px;
  border-radius: 25px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  position: absolute;
  top: 2365px;
  left: 535px;
}

.fotu {
  width: 136px;
  height: 136px;
  object-fit: contain;
  position: absolute;
  top: 2299px;
  left: 615px;
}

.segund {
  width: 300px;
  height: 260px;
  border-radius: 25px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  position: absolute;
  top: 2365px;
  left: 935px;
}

.foty {
  width: 136px;
  height: 136px;
  object-fit: contain;
  position: absolute;
  top: 2299px;
  left: 1015px;
}

.util {
  width: 1220px;
  height: 519px;
  border-radius: 0px;
  background-color: #f2f2f2;
  position: absolute;
  top: 2750px;
}

.Ayuda-Alex {
  width: 334px;
  height: 530px;
  left: 900px;
  position: absolute;
  top: 2710px;
  left: 1015px;
}


.imgagi {
  float: right;
}

.pregunts {
  width: 500px;
  height: 44px;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: -2px;
  color: #ff0136;
  position: absolute;
  top: 2810px;
  left: 135px;
}

.comen {
  width: 650px;
  height: 24px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.8);
}

.si {
  width: 120px;
  height: 48px;
  border-radius: 6px;
  border: solid 1.4px #03cd83;
  background-color: #ffffff;
  text-align: center;
  display: inline-block;
}

.no {
  width: 120px;
  height: 48px;
  border-radius: 6px;
  border: solid 1.4px #03cd83;
  background-color: #ffffff;
  display: inline-block;
  text-align: center;
  top: 0px;  
}

.sip {
  width: 14px;
  height: 20px;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #03cd83;
  vertical-align: middle;
}

.enviar {
  width: 120px;
  height: 48px;
  border-radius: 6px;
  background-color: #fa0236;
  margin-top: 100px;
  margin-left: 430px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
}

.envi {
  width: 47px;
  height: 20px;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
}

.footer {
  width: 1349px;
  height: 270px;
  background-color: #ffffff;
  position: absolute;
  top: 3240px;
}

.log {
  position: absolute;
  top: 30px;
  left: 105px;
}

.help {
  width: 325px;
  height: 57px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.6);
  position: absolute;
  left: 25px;
}

.-Chiper-Ayuda {
  width: 325px;
  height: 19px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.6);
  position: absolute;
  top: 170px;
  left: 25px;
}

.menu li {
  display: inline-block;

}

.menu {
  float: right;
  margin-top: 70px;

}

.menu a {
  padding: 70px;
}

.footer a {
  right: 300px;
}

.Links {
  width: 47px;
  height: 27px;
  font-size: 17px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fa0236;
}

#input-search {
  height: 40px;
  font-size: 20px;
  text-indent: 10px;
}

.content-search {
  width: 100%;
  top: 60px;
  left: 0;
  display: none;
}

.content-table {
  width: 450px;
  max-height: 200px;
  height: auto;
  background: rgba(0, 0, 0, 0.3);
  margin-left: 10px;
  overflow-y: visible;
  overflow-x: hidden;
  border-radius: 3px;
}

.content-table table {
  width: 100%;
}

tbody tr td a {
  display: block;
  padding: 3px;
  color: white;
  text-decoration: none;
}

tbody tr td a:hover {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

#table_length,
#table_filter,
#table_info,
#table_paginate {
  display: none;
}

.comentar {
  width: 260px;
  height: 57px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: oblique;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(19, 18, 18, 0.6);
}

.bjar {
  margin-top: 15px;
  text-align: center;
}

.txtd {
  font-size: 16px;
  font-weight: 900;
  color: #ffffff;
  text-decoration: none;
}

.llamnos {
  width: 247px;
  height: 110px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  text-align: left;
  border-radius: 13px;
  position: absolute;
  top: 150px;

}

.message {
  width: 230px;
  height: 57px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.6);
  position: absolute;
  left: 15px;
  top: 20px;
  text-align: left;
}

.messag {
  width: 168px;
  height: 57px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
  position: absolute;
}

.messa {
  position: absolute;
  top: 30px;
}

.mssa {
  position: absolute;
  top: 0px;
}

.emogi {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0px;
  margin-top: -8px;
}

.lmnos {
  width: 505px;
  height: 168px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  text-align: left;
  border-radius: 13px;
  position: absolute;
  left: 0px;
  top: 150px;
}

.messagen {
  width: 500px;
  height: 57px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.6);
  position: absolute;
  left: 15px;
  top: 20px;
  text-align: left;
}

.prim {
  width: 500px;
  height: 57px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.6);
  position: absolute;
  left: 15px;
  top: 50px;
  text-align: left;
}

.prime {
  width: 500px;
  height: 57px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.6);
  position: absolute;
  left: 15px;
  top: 75px;
  text-align: left;
}

.primer {
  width: 500px;
  height: 57px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.6);
  position: absolute;
  left: 15px;
  top: 100px;
  text-align: left;
}

.primera {
  width: 500px;
  height: 57px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.6);
  position: absolute;
  left: 15px;
  top: 125px;
  text-align: left;
}

.contenedor {
  width: 98%;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
}

.contenedor>div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 4px;
}

.contenedor .header {
  color: #fff;
  grid-column-start: 1;
  grid-column-end: -1;
}

.contenedor .contenido {
  grid-column: span 3;
}

.contenedor .sidebar {
  grid-column: 3 / 4;
  background: orange;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  grid-row: 2 / 4;
}

.contenedor .widget-1,
.contenedor .widget-2 {
  background: cyan;
  color: black;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor .footer {
  background: #ffffff;
  color: #fff;
  grid-column: span 3;
}


@media screen and (min-width: 686px) {
  .contenedor .contenido {
    grid-column: 1 / -1;
  }

  .contenedor .sidebar {
    grid-column: 1 / -1;
  }

  .contenedor .widget-1 {
    grid-column: span 2;
  }

  .contenedor .logo {
    width: auto;
  }
}

@media screen and (min-width: 686px) {

  .contenedor .dimension2 {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 0px;
    width: 100%;
    height: 552px;
  }

  .contenedor .Shape{
    display: none;
    position: absolute;
    top: 15px;
    right: 0px;
    width: 100%;
    height: 863px;
  }

  .contenedor .Imagen {
    display: none;
    position: absolute;
    top: 0px;
    width: 330px;
    height: 440px;
  }

  .contenedor .Imagen2 {
    display: inline-block;
    position: absolute;
    top: 0px;
    width: 300px;
    height: 500px;
  }

  .contenedor .derec {
    position: relative;
    margin-top: 0px;
    right: 0px;
  }

  .contenedor .text {
    font-size: 15px;
  }

  .contenedor .textd {
    font-size: 15px;
  }

  .contenedor .Group-7 {
    position: relative;
    width: 283px;
    height: 65px;
    object-fit: contain;
    margin-top: 0px;
    margin-left: 0px;

  }

  .contenedor .llamanos {
    width: 190px;
    height: 65px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    text-align: left;
    border-radius: 13px;
    position: absolute;
    top: 59px;
    right: 0px;
  }

  .contenedor .mensaje {
    width: 190px;

    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.6);
    position: absolute;
    left: 10px;
    top: 5px;
    text-align: left;
  }

  .contenedor .mensaj {
    width: 168px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
    position: absolute;
  }

  .contenedor .mensa {
    position: absolute;
    top: 18px;
  }

  .contenedor .titulo {
    position: relative;
    width: 550px;
    height: 97px;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: -3px;
    left: 0px;
  }

  .contenedor .slogan {
    position: relative;
    width: 310px;
    height: 28px;
    font-size: 17px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    color: rgba(38, 38, 38, 0.8);
    top: 0px;
    left: 0px;
  }

  .contenedor .buscador {
    position: relative;
    width: 340px;
    height: 45px;
    border-radius: 6px;
    box-shadow: 0 12px 20px 6px rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    top: 0px;
    left: 0px;
    line-height: 2;
  }

  .contenedor .Group {
    position: absolute;
    margin: 5px;
    width: 15px;
    height: 15px;
    margin-top: 14px;
    object-fit: contain;
    left: 5px;
  }

  .contenedor .outlinenone {
    outline: none;
    background-color: #ffffff;
    border: 0;
    left: 0px;
    top: 10px;
  }

  .contenedor .duda {
    position: relative;
    width: 310px;
    height: 20px;
    opacity: 0.4;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    color: #2f2f2f;
  }

  .contenedor .aprende {
    position: absolute;
    display: inline-block;
    width: 110px;
    height: 100px;
    border-radius: 6px;
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    margin-top: 10px;
  }

  .contenedor .graduation {
    width: 38px;
    height: 37px;
    object-fit: contain;
    display: block;
    margin: auto;
  }

  .contenedor .Aprende {
    width: 110px;
    height: 22px;
    font-size: 12px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(38, 38, 38, 0.8);
    text-decoration: none;
    margin-top: 8px;
  }

  .contenedor .comunidad {
    position: absolute;
    display: inline-block;
    width: 110px;
    height: 100px;
    border-radius: 6px;
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    margin: 130px;
    margin-top: 10px;
  }

  .contenedor .conversation-1 {
    width: 38px;
    height: 37px;
    object-fit: contain;
    display: block;
    margin: auto;
  }

  .contenedor .Comunidad {
    width: 110px;
    height: 22px;
    font-size: 12px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(38, 38, 38, 0.8);
    text-decoration: none;
    margin-top: 8px;
  }

  .contenedor .oval {    
    position: absolute;
    width: 80px;
    height: 80px;
    border: solid 1.4px rgba(255, 1, 54, 0.2);
    border-width: 3px 3px 3px;
    border-style: dotted;
    border-radius: 100px;
    margin-top: 80px;
    left: 30px;
  }

  .contenedor .Oval {    
    width: 40px;
    height: 40px;
    box-shadow: 0 6px 40px 0 rgba(255, 1, 54, 0.16);
    background-color: #ffffff;
    border-radius: 100px;
    text-align: center;
    margin: auto;
    margin-top: 18px;
  }

  .contenedor .-Icon-olor {
    width: 14px;
    height: 7px;
    object-fit: contain;
    margin: auto;
    margin-top: 18px;
  }

  .contenedor .dos{    
    margin-top: -150px;
    right: 0px;
    width: 100%;
    height: 763px;
  }

  .contenedor .shape2{    
    margin-top: 10px;
    right: 0px;
    width: 100%;
    height: 763px;
  }

  .contenedor .preguntas{
    width: 372px;
    height: 44px;
    font-size: 40px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -2px;
    color: #ff0136;
    position: absolute;
    top: 500px;
    left: 24px;
  }

  .contenedor .Rectangle{
    border-radius: 6px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    position: absolute;
    display: grid;
    top: 580px;
    left: 95px;
  }

  .contenedor .tablet {
    display: inline-block;
    position: absolute;
    top: 410px;
    width: 350px;
    height: 650px;
    right: 0px;
  }

  .contenedor .titu2{
    width: 350px;
    height: 128px;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: -3px;
    position: absolute;
    top: 1100px;
    left: 24px;    
  }

  .contenedor .cuadro{
    width: 300px;
    height: 260px;
    border-radius: 25px;
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    position: absolute;
    top: 1500px;
    left: 30px;
  }

  .contenedor .foto{
    width: 136px;
    height: 136px;
    object-fit: contain;
    position: absolute;
    top: 1434px;
    left: 110px;
  }

  .contenedor .cuadr{
    width: 300px;
    height: 260px;
    border-radius: 25px;
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    position: absolute;
    top: 1500px;
    left: 358px;
  }

  .contenedor .fot{
    width: 136px;
    height: 136px;
    object-fit: contain;
    position: absolute;
    top: 1434px;
    left: 438px;
  }

  .contenedor .cuad{
    width: 300px;
    height: 260px;
    border-radius: 25px;
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    position: absolute;
    top: 1900px;
    left: 30px;
  }

  .contenedor .fo{
    width: 136px;
    height: 136px;
    object-fit: contain;
    position: absolute;
    top: 1834px;
    left: 110px;
  }

  .contenedor .segundoc{
    width: 300px;
    height: 260px;
    border-radius: 25px;
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    position: absolute;
    top: 1900px;
    left: 358px;
  }

  .contenedor .fotuu{
    width: 136px;
    height: 136px;
    object-fit: contain;
    position: absolute;
    top: 1834px;
    left: 438px;
  }

  .contenedor .segundo{
    width: 300px;
    height: 260px;
    border-radius: 25px;
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    position: absolute;
    top: 2300px;
    left: 30px;
  }

  .contenedor .fotu{
    width: 136px;
    height: 136px;
    object-fit: contain;
    position: absolute;
    top: 2234px;
    left: 110px;
  }

  .contenedor .segund{
    width: 300px;
    height: 260px;
    border-radius: 25px;
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    position: absolute;
    top: 2300px;
    left: 358px;
  }

  .contenedor .foty{
    width: 136px;
    height: 136px;
    object-fit: contain;
    position: absolute;
    top: 2234px;
    left: 438px;
  }

  .contenedor .util{
    width: 590px;
    height: 340px;
    border-radius: 0px;
    background-color: #f2f2f2;
    position: absolute;
    top: 2650px;
    left: 0px;
  }

  .contenedor .imgagi{
    float: right;
  }

  .contenedor .Ayuda-Alex{
    width: 250px;
    height: 400px;
    left: 900px;
    position: absolute;
    top: 2610px;
    left: 436px;
  }

  .contenedor .pregunts{
    width: 500px;
    height: 44px;
    font-size: 30px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -2px;
    color: #ff0136;
    position: absolute;
    top: 2680px;
    left: 30px;
  }

  .contenedor .comen{
    width: 650px;
    height: 24px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.8);
    margin-top: 10px;
  }

  .contenedor .si{
    width: 107px;
    height: 43px;
    border-radius: 6px;
    border: solid 1.4px #03cd83;
    background-color: #ffffff;
    text-align: center;
    display: inline-block;
  }

  .contenedor .no{
    width: 107px;
    height: 43px;
    border-radius: 6px;
    border: solid 1.4px #03cd83;
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
    top: 0px;  
  }

  .contenedor .sip{
    width: 14px;
    height: 20px;
    font-size: 15px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #03cd83;
    vertical-align: middle;
  }

  .contenedor .bjar{
    margin-top: 0px;
    text-align: center;
  }

  .contenedor .llamnos{
    width: 247px;
    height: 110px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    text-align: left;
    border-radius: 13px;
    position: absolute;
    top: 120px;
  }

  .contenedor .lmnos{
    width: 393px;
    height: 168px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    text-align: left;
    border-radius: 13px;
    position: absolute;
    left: 0px;
    top: 120px;
  }

  .contenedor .messagen{    
      width: 500px;
      height: 57px;
      font-size: 11px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: rgba(38, 38, 38, 0.6);
      position: absolute;
      left: 15px;
      top: 20px;
      text-align: left;    
  }

  .contenedor .mssa{
    position: absolute;
    top: 0px;
  }

  .contenedor .prim{
    width: 500px;
    height: 57px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.6);
    position: absolute;
    left: 15px;
    top: 50px;
    text-align: left;
  }

  .contenedor .prime{
    width: 500px;
    height: 57px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.6);
    position: absolute;
    left: 15px;
    top: 75px;
    text-align: left;
  }

  .contenedor .primer{
    width: 500px;
    height: 57px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.6);
    position: absolute;
    left: 15px;
    top: 100px;
    text-align: left;
  }

  .contenedor .primera{
    width: 500px;
    height: 57px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.6);
    position: absolute;
    left: 15px;
    top: 125px;
    text-align: left;
  }

  .contenedor .enviar{
    width: 107px;
    height: 43px;
    border-radius: 6px;
    background-color: #fa0236;
    margin-top: 195px;
    left: -200px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: -127px;
  }

  .contenedor .envi{
    width: 47px;
    height: 20px;
    font-size: 15px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
  }

  .contenedor .log{
    position: absolute;
    top: 20px;
    left: 10px;
  }

  .contenedor .footer{
    width: 100%;
    height: 230px;
    background-color: #ffffff;
    position: absolute;
    top: 3010px;
    left: 0px;
  }

  .contenedor .logito{
    position: relative;
    width: 220px;
    height: 50px;
    object-fit: contain;
    margin-top: 10px;
    margin-left: 20px;
  }

  .contenedor .help{
    width: 240px;
    height: 57px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.6);
    position: absolute;
    left: 25px;
  }

  .contenedor .-Chiper-Ayuda{
    width: 325px;
    height: 19px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.6);
    position: absolute;
    top: 160px;
    left: 25px;
  }

  .contenedor .menu{
    float: right;
    margin-top: 10px;
  }

  .contenedor .menu li{
    display: inline-block;
  }

  .contenedor .menu a{
    padding: 10px;
    font-size: 12px;
  }

  .contenedor .Links{
    width: 47px;
    height: 20px;
    font-size: 17px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    
  }

  .contenedor .letra{
    width: 110px;
    height: 11px;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.8);
  }
}


@media screen and (min-width: 992px) {
  .contenedor .contenido {
    grid-column: 1 / -1;
  }

  .contenedor .sidebar {
    grid-column: 1 / -1;
  }

  .contenedor .widget-1 {
    grid-column: span 2;
  }

  .contenedor .logo {
    width: auto;
  }
}

@media screen and (min-width: 992px) {

  .contenedor .dimension2 {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 0px;
    width: 100%;
    height: 552px;
  }

  .contenedor .Shape{
    display: none;
    position: absolute;
    top: 15px;
    right: 0px;
    width: 100%;
    height: 863px;
  }

  .contenedor .Imagen {
    display: none;
    position: absolute;
    top: 0px;
    width: 330px;
    height: 440px;
  }

  .contenedor .Imagen2 {
    display: inline-block;
    position: absolute;
    top: 0px;
    width: 360px;
    height: 600px;
  }

  .contenedor .logo{
    position: absolute;    
  }

  .contenedor .derec {
    position: relative;
    margin-top: 10px;
    right: 30px;
  }

  .contenedor .text {
    font-size: 15px;
  }

  .contenedor .textd {
    font-size: 15px;
  }

  .contenedor .Group-7 {
    position: relative;
    width: 283px;
    height: 65px;
    object-fit: contain;
    margin-top: 0px;
    margin-left: 0px;

  }

  .contenedor .llamanos {
    width: 190px;
    height: 65px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    text-align: left;
    border-radius: 13px;
    position: absolute;
    top: 59px;
    right: 0px;
  }

  .contenedor .mensaje {
    width: 190px;

    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.6);
    position: absolute;
    left: 10px;
    top: 5px;
    text-align: left;
  }

  .contenedor .mensaj {
    width: 168px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
    position: absolute;
  }

  .contenedor .mensa {
    position: absolute;
    top: 18px;
  }

  .contenedor .titulo {
    position: relative;
    width: 550px;
    height: 97px;
    font-size: 45px;
    line-height: 1.07;
    letter-spacing: -3px;
    left: 30px;
    margin-top: 20px;
  }

  .contenedor .slogan {
    position: relative;
    width: 480px;
    height: 28px;
    font-size: 19px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    color: rgba(38, 38, 38, 0.8);
    top: 0px;
    left: 30px;
  }

  .contenedor .buscador {
    position: relative;
    width: 470px;
    height: 53px;
    border-radius: 6px;
    box-shadow: 0 12px 20px 6px rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    top: 0px;
    left: 30px;
    line-height: 2;
  }

  .contenedor .Group {
    position: absolute;
    margin: 5px;
    width: 20px;
    height: 20px;
    margin-top: 14px;
    object-fit: contain;
    left: 5px;
  }

  .contenedor .outlinenone {
    outline: none;
    background-color: #ffffff;
    border: 0;
    left: 0px;
    top: 15px;
  }

  .contenedor .duda {
    position: relative;
    width: 430px;
    height: 20px;
    opacity: 0.4;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    color: #2f2f2f;
  }

  .contenedor .aprende {
    position: absolute;
    display: inline-block;
    width: 130px;
    height: 120px;
    border-radius: 6px;
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    margin-top: 10px;
    left: 60px;
  }

  .contenedor .graduation {
    width: 48px;
    height: 47px;
    object-fit: contain;
    display: block;
    margin: auto;
  }

  .contenedor .Aprende {
    width: 110px;
    height: 22px;
    font-size: 17px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(38, 38, 38, 0.8);
    text-decoration: none;
    margin-top: 8px;
  }

  .contenedor .comunidad {
    position: absolute;
    display: inline-block;
    width: 130px;
    height: 120px;
    border-radius: 6px;
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    margin: 130px;
    margin-top: 10px;
    left: 90px;
  }

  .contenedor .conversation-1 {
    width: 48px;
    height: 47px;
    object-fit: contain;
    display: block;
    margin: auto;
  }

  .contenedor .Comunidad {
    width: 110px;
    height: 22px;
    font-size: 17px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(38, 38, 38, 0.8);
    text-decoration: none;
    margin-top: 3px;
    margin-left: -11px;
    
  }

  .contenedor .oval {    
    position: absolute;
    width: 80px;
    height: 80px;
    border: solid 1.4px rgba(255, 1, 54, 0.2);
    border-width: 3px 3px 3px;
    border-style: dotted;
    border-radius: 100px;
    margin-top: 160px;
    left: 60px;
  }

  .contenedor .Oval {    
    width: 40px;
    height: 40px;
    box-shadow: 0 6px 40px 0 rgba(255, 1, 54, 0.16);
    background-color: #ffffff;
    border-radius: 100px;
    text-align: center;
    margin: auto;
    margin-top: 18px;
  }

  .contenedor .-Icon-olor {
    width: 14px;
    height: 7px;
    object-fit: contain;
    margin: auto;
    margin-top: 18px;
  }

  .contenedor .dos{    
    margin-top: -150px;
    right: 0px;
    width: 100%;
    height: 763px;
  }

  .contenedor .shape2{    
    margin-top: 10px;
    right: 0px;
    width: 100%;
    height: 763px;
  }

  .contenedor .preguntas{
    width: 372px;
    height: 44px;
    font-size: 45px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -2px;
    color: #ff0136;
    position: absolute;
    top: 550px;
    left: 60px;
  }

  .contenedor .Rectangle{
    border-radius: 6px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    position: absolute;
    display: grid;
    top: 650px;
    left: 245px;
  }

  .contenedor .tablet {
    display: inline-block;
    position: absolute;
    top: 410px;
    width: 350px;
    height: 650px;
    right: 0px;
  }

  .contenedor .titu2{
    width: 600px;
    height: 128px;
    font-size: 45px;
    line-height: 1.07;
    letter-spacing: -3px;
    position: absolute;
    top: 1180px;
    left: 60px;    
  }

  .contenedor .cuadro{
    width: 300px;
    height: 260px;
    border-radius: 25px;
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    position: absolute;
    top: 1500px;
    left: 15px;
  }

  .contenedor .foto{
    width: 136px;
    height: 136px;
    object-fit: contain;
    position: absolute;
    top: 1434px;
    left: 95px;
  }

  .contenedor .cuadr{
    width: 300px;
    height: 260px;
    border-radius: 25px;
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    position: absolute;
    top: 1500px;
    left: 348px;
  }

  .contenedor .fot{
    width: 136px;
    height: 136px;
    object-fit: contain;
    position: absolute;
    top: 1434px;
    left: 428px;
  }

  .contenedor .cuad{
    width: 300px;
    height: 260px;
    border-radius: 25px;
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    position: absolute;
    top: 1900px;
    left: 15px;
  }

  .contenedor .fo{
    width: 136px;
    height: 136px;
    object-fit: contain;
    position: absolute;
    top: 1834px;
    left: 95px;
  }

  .contenedor .segundoc{
    width: 300px;
    height: 260px;
    border-radius: 25px;
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    position: absolute;
    top: 1900px;
    left: 348px;
  }

  .contenedor .fotuu{
    width: 136px;
    height: 136px;
    object-fit: contain;
    position: absolute;
    top: 1834px;
    left: 428px;
  }

  .contenedor .segundo{
    width: 300px;
    height: 260px;
    border-radius: 25px;
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    position: absolute;
    top: 1900px;
    left: 680px;
  }

  .contenedor .fotu{
    width: 136px;
    height: 136px;
    object-fit: contain;
    position: absolute;
    top: 1834px;
    left: 756px;
  }

  .contenedor .segund{
    width: 300px;
    height: 260px;
    border-radius: 25px;
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    position: absolute;
    top: 1500px;
    left: 680px;
  }

  .contenedor .foty{
    width: 136px;
    height: 136px;
    object-fit: contain;
    position: absolute;
    top: 1434px;
    left: 756px;
  }

  .contenedor .util{
    width: 85%;
    height: 340px;
    border-radius: 0px;
    background-color: #f2f2f2;
    position: absolute;
    top: 2260px;
    left: 0px;
  }

  .contenedor .imgagi{
    position: absolute;
    left: 306px;    
  }

  .contenedor .Ayuda-Alex{
    width: 250px;
    height: 400px;
    left: 900px;
    position: absolute;
    top: 430px;
    left: 436px;
  }

  .contenedor .pregunts{
    width: 500px;
    height: 44px;
    font-size: 40px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -2px;
    color: #ff0136;
    position: absolute;
    top: 2280px;
    left: 30px;
  }

  .contenedor .comen{
    width: 650px;
    height: 24px;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.8);
    margin-top: 10px;
  }

  .contenedor .si{
    width: 110px;
    height: 46px;
    border-radius: 6px;
    border: solid 1.4px #03cd83;
    background-color: #ffffff;
    text-align: center;
    display: inline-block;
  }

  .contenedor .no{
    width: 110px;
    height: 46px;
    border-radius: 6px;
    border: solid 1.4px #03cd83;
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
    top: 0px;  
  }

  .contenedor .sip{
    width: 14px;
    height: 20px;
    font-size: 17px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #03cd83;
    vertical-align: middle;
    top: 10px;
    
  }

  .contenedor .bjar{
    margin-top: 0px;
    text-align: center;
  }

  .contenedor .llamnos{
    width: 247px;
    height: 110px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    text-align: left;
    border-radius: 13px;
    position: absolute;
    top: 120px;
  }

  .contenedor .lmnos{
    width: 393px;
    height: 168px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    text-align: left;
    border-radius: 13px;
    position: absolute;
    left: 0px;
    top: 120px;
  }

  .contenedor .messagen{    
      width: 500px;
      height: 57px;
      font-size: 11px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: rgba(38, 38, 38, 0.6);
      position: absolute;
      left: 15px;
      top: 20px;
      text-align: left;    
  }

  .contenedor .mssa{
    position: absolute;
    top: 0px;
  }

  .contenedor .prim{
    width: 500px;
    height: 57px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.6);
    position: absolute;
    left: 15px;
    top: 50px;
    text-align: left;
  }

  .contenedor .prime{
    width: 500px;
    height: 57px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.6);
    position: absolute;
    left: 15px;
    top: 75px;
    text-align: left;
  }

  .contenedor .primer{
    width: 500px;
    height: 57px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.6);
    position: absolute;
    left: 15px;
    top: 100px;
    text-align: left;
  }

  .contenedor .primera{
    width: 500px;
    height: 57px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.6);
    position: absolute;
    left: 15px;
    top: 125px;
    text-align: left;
  }

  .contenedor .enviar{
    width: 107px;
    height: 43px;
    border-radius: 6px;
    background-color: #fa0236;
    margin-top: 195px;
    left: -200px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: -127px;
  }

  .contenedor .envi{
    width: 47px;
    height: 20px;
    font-size: 15px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
  }

  .contenedor .log{
    position: absolute;
    top: 20px;
    left: 10px;
  }

  .contenedor .footer{
    width: 100%;
    height: 230px;
    background-color: #ffffff;
    position: absolute;
    top: 3010px;
    left: 0px;
  }

  .contenedor .logito{
    position: relative;
    width: 220px;
    height: 50px;
    object-fit: contain;
    margin-top: 10px;
    margin-left: 20px;
  }

  .contenedor .help{
    width: 240px;
    height: 57px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.6);
    position: absolute;
    left: 25px;
  }

  .contenedor .-Chiper-Ayuda{
    width: 325px;
    height: 19px;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.6);
    position: absolute;
    top: 160px;
    left: 25px;
  }

  .contenedor .menu{
    float: right;
    margin-top: 10px;
  }

  .contenedor .menu li{
    display: inline-block;
  }

  .contenedor .menu a{
    padding: 10px;
    font-size: 12px;
  }

  .contenedor .Links{
    width: 47px;
    height: 20px;
    font-size: 17px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    
  }

  .contenedor .letra{
    width: 110px;
    height: 11px;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(38, 38, 38, 0.8);
  }
}
