body {
  width: 1280px;
  height: 901px;
  max-width: 1280px;
  min-width: 360px;
  background-color: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.Shape {
  width: 100%;
  height: 863px;
  margin-top: 10px;
  max-width: 1280px;
  min-width: 360px;
}

base {
  width: 100%;
  height: 140px;
  max-width: 1280px;
  min-width: 360px;
  opacity: 0;
  background-color: #ff0136;
}

.logo {
  position: absolute;
  top: 30px;
  left: 80px;
}

.Group-7 {
  width: 283px;
  height: 65px;
  object-fit: contain;
  margin-top: 10px;
  margin-left: 20px;
}

.boton {
  position: absolute;
  top: 46px;
  left: 977px;
  width: 120px;
  height: 48px;
  border-radius: 6px;
  border: solid 1.4px #ff0136;
  background-color: #ffffff;
}

.text {
  font-size: 16px;
  font-weight: 900;
  color: #ff0136;
  text-decoration: none;
}

.botond {
  position: absolute;
  top: 46px;
  left: 1109px;
  width: 120px;
  height: 48px;
  border-radius: 6px;
  border: solid 1.4px #ff0136;
  background-color: #ff0136;
}

.textd {
  font-size: 16px;
  font-weight: 900;
  color: #ffffff;
  text-decoration: none;
}

.bajar {
  margin-top: 15px;
  text-align: center;
}

.Imagen {
  position: absolute;
  top: 0px;
  left: 324px;
  width: 700px;
  height: 901px;
  object-fit: contain;
}

.titulo {
  width: 550px;
  height: 128px;
  font-size: 50px;
  line-height: 1.07;
  letter-spacing: -3px;
  position: absolute;
  top: 240px;
  left: 135px;
}

.slogan {
  width: 550px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  color: rgba(38, 38, 38, 0.8);
  position: absolute;
  top: 350px;
  left: 135px;
}

.buscador {
  width: 470px;
  height: 65px;
  border-radius: 6px;
  box-shadow: 0 12px 20px 6px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  position: absolute;
  top: 450px;
  left: 135px;
  line-height: 2;
}

#buscador {
  border-radius: 6px;
}

.outlinenone {
  outline: none;
  background-color: #ffffff;
  border: 0;
  float: right;
  top: 10px;
}

.Group {
  margin: 5px;
  width: 20px;
  height: 20px;
  object-fit: contain;   
}

.duda {
  width: 410px;
  height: 30px;
  opacity: 0.4;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #2f2f2f;
}

.aprende {
  width: 140px;
  height: 124px;
  border-radius: 6px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  position: absolute;
  top: 550px;
  left: 135px;
}

.comunidad {
  width: 140px;
  height: 124px;
  border-radius: 6px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  position: absolute;
  top: 550px;
  left: 300px;
}

.graduation {
  width: 50px;
  height: 49px;
  object-fit: contain;
  display: block;
  margin: auto;
}

.Aprende {
  width: 100px;
  height: 22px;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(38, 38, 38, 0.8);
}

.conversation-1 {
  width: 50px;
  height: 49px;
  object-fit: contain;
  display: block;
  margin: auto;
}

.Comunidad {
  width: 115px;
  height: 22px;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(38, 38, 38, 0.8);
}

.oval {
  width: 80px;
  height: 80px;
  border: solid 1.4px rgba(255, 1, 54, 0.2);
  border-width: 2px 2px 2px;
  border-style: dotted;
  border-radius: 100px;
  position: absolute;
  top: 790px;
  left: 110px;
}

.Oval {
  width: 40px;
  height: 40px;
  box-shadow: 0 6px 40px 0 rgba(255, 1, 54, 0.16);
  background-color: #ffffff;
  border-radius: 100px;
  text-align: center;
  margin: auto;
  margin-top: 18px;
}

.-Icon-olor {
  width: 14px;
  height: 7px;
  object-fit: contain;
  margin: auto;
  margin-top: 18px;
}

.llamanos {
  width: 220px;
  height: 120px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  text-align: left;
  border-radius: 13px;
  position: absolute;
  top: 42px;
  right: 0px;
}

.mensaje {
  width: 200px;
  height: 57px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.6);
  position: absolute;
  left: 15px;
  top: 20px;
  text-align: left;
}

.mensaj {
  width: 168px;
  height: 57px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
  position: absolute;

}

.mensa {
  position: absolute;
  top: 30px;
}

.dos {
  width: 1280px;
  height: 863px;
}

.shape2 {
  width: 1280px;
  height: 863px;
  margin-top: 40px;
}

.preguntas {
  width: 372px;
  height: 44px;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: -2px;
  color: #ff0136;
  position: absolute;
  top: 975px;
  left: 135px;
}

.Pieza {
  position: absolute;
  top: 840px;
  left: 742px;
  width: 606px;
  height: 901px;
  object-fit: contain;
}

.Rectangle {
  border-radius: 6px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
  position: absolute;
  top: 1053px;
  left: 135px;
}

.acerca {
  width: 200px;
  height: 61px;
  font-size: 17px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #2f2f2f;
  position: absolute;
  top: 3px;
}

.Grou {
  width: 10px;
  height: 10px;
  right: 12x;
  top: 5px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.pregunta {
  width: 372px;
  height: 44px;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: -2px;
  color: #ff0136;
  position: absolute;
  top: 1900px;
  left: 135px;
}

.shapee {
  width: 1280px;
  height: 863px;
  margin-top: 70px;
}

.titu2 {
  width: 550px;
  height: 128px;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: -3px;
  position: absolute;
  top: 1850px;
  left: 400px;
}

.foto {
  width: 136px;
  height: 136px;
  object-fit: contain;
  position: absolute;
  top: 1929px;
  left: 215px;
}

.cuadro {
  width: 300px;
  height: 260px;
  border-radius: 25px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  position: absolute;
  top: 1995px;
  left: 135px;
}

.fecha {
  width: 220px;
  height: 19px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #262626;
  position: absolute;
  top: 80px;
  left: 40px;
}

.nombr {
  width: 150px;
  height: 27px;
  font-size: 20px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #262626;
}

.coment {
  width: 260px;
  height: 57px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: oblique;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(38, 38, 38, 0.6);
}

.cuadr {
  width: 300px;
  height: 260px;
  border-radius: 25px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  position: absolute;
  top: 1995px;
  left: 535px;
}

.fot {
  width: 136px;
  height: 136px;
  object-fit: contain;
  position: absolute;
  top: 1929px;
  left: 615px;
}

.cuad {
  width: 300px;
  height: 260px;
  border-radius: 25px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  position: absolute;
  top: 1995px;
  left: 935px;
}

.fo {
  width: 136px;
  height: 136px;
  object-fit: contain;
  position: absolute;
  top: 1929px;
  left: 1015px;
}

.segundoc {
  width: 300px;
  height: 260px;
  border-radius: 25px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  position: absolute;
  top: 2365px;
  left: 135px;
}

.fotuu {
  width: 136px;
  height: 136px;
  object-fit: contain;
  position: absolute;
  top: 2299px;
  left: 215px;
}

.segundo {
  width: 300px;
  height: 260px;
  border-radius: 25px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  position: absolute;
  top: 2365px;
  left: 535px;
}

.fotu {
  width: 136px;
  height: 136px;
  object-fit: contain;
  position: absolute;
  top: 2299px;
  left: 615px;
}

.segund {
  width: 300px;
  height: 260px;
  border-radius: 25px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  position: absolute;
  top: 2365px;
  left: 935px;
}

.foty {
  width: 136px;
  height: 136px;
  object-fit: contain;
  position: absolute;
  top: 2299px;
  left: 1015px;
}

.util {
  width: 1220px;
  height: 419px;
  border-radius: 0px;
  background-color: #f2f2f2;
  position: absolute;
  top: 2750px;
}

.Ayuda-Alex {
  width: 334px;
  height: 530px;
  left: 900px;
  position: absolute;
  top: 2710px;
  left: 1015px;
}

.imgagi {
  float: right;
}

.pregunts {
  width: 500px;
  height: 44px;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: -2px;
  color: #ff0136;
  position: absolute;
  top: 2810px;
  left: 135px;
}

.comen {
  width: 650px;
  height: 24px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.8);
}

.si {
  width: 120px;
  height: 48px;
  border-radius: 6px;
  border: solid 1.4px #03cd83;
  background-color: #ffffff;
  text-align: center;
  display: inline-block;

}

.no {
  width: 120px;
  height: 48px;
  border-radius: 6px;
  border: solid 1.4px #03cd83;
  background-color: #ffffff;
  display: inline-block;
  text-align: center;
  top: 0px;
  ;

}

.sip {
  width: 14px;
  height: 20px;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #03cd83;
  vertical-align: middle;
}

.enviar {
  width: 120px;
  height: 48px;
  border-radius: 6px;
  background-color: #fa0236;
  margin-top: 100px;
  margin-left: 430px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
}

.envi {
  width: 47px;
  height: 20px;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
}

.footer {
  width: 1349px;
  height: 270px;
  background-color: #ffffff;
  position: absolute;
  top: 3240px;
}

.log {
  position: absolute;
  top: 30px;
  left: 105px;
}

.help {
  width: 325px;
  height: 57px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.6);
  position: absolute;
  left: 25px;
}

.-Chiper-Ayuda {
  width: 325px;
  height: 19px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.6);
  position: absolute;
  top: 170px;
  left: 25px;
}

.menu li {
  display: inline-block;

}

.menu {
  float: right;
  margin-top: 70px;

}

.menu a {
  padding: 70px;
}

.footer a {
  right: 300px;
}

.Links {
  width: 47px;
  height: 27px;
  font-size: 17px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fa0236;
}

.Sobre-nosotros {
  width: 110px;
  height: 22px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.8);
}

#input-search {
  height: 40px;
  font-size: 20px;
  text-indent: 10px;
}

.content-search {
  width: 100%;
  top: 60px;
  left: 0;
  display: none;
}

.content-table {
  width: 450px;
  max-height: 200px;
  height: auto;
  background: rgba(0, 0, 0, 0.3);
  margin-left: 10px;
  overflow-y: visible;
  overflow-x: hidden;
  border-radius: 3px;
}

.content-table table {
  width: 100%;
}

tbody tr td a {
  display: block;
  padding: 3px;
  color: white;
  text-decoration: none;
}

tbody tr td a:hover {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

#table_length,
#table_filter,
#table_info,
#table_paginate {
  display: none;
}

.comentar {
  width: 260px;
  height: 57px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: oblique;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(19, 18, 18, 0.6);
}

.bjar {
  margin-top: 15px;
  text-align: center;
}

.txtd {
  font-size: 16px;
  font-weight: 900;
  color: #ffffff;
  text-decoration: none;
}

.llamnos {
  width: 247px;
  height: 110px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  text-align: left;
  border-radius: 13px;
  position: absolute;
  top: 150px;

}

.message {
  width: 230px;
  height: 57px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.6);
  position: absolute;
  left: 15px;
  top: 20px;
  text-align: left;
}

.messag {
  width: 168px;
  height: 57px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
  position: absolute;
}

.messa {
  position: absolute;
  top: 30px;
}

.mssa {
  position: absolute;
  top: 0px;
}

.emogi {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0px;
  margin-top: -8px;
}

.lmnos {
  width: 505px;
  height: 168px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  text-align: left;
  border-radius: 13px;
  position: absolute;
  left: 0px;
  top: 150px;
}

.messagen {
  width: 500px;
  height: 57px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.6);
  position: absolute;
  left: 15px;
  top: 20px;
  text-align: left;
}

.prim {
  width: 500px;
  height: 57px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.6);
  position: absolute;
  left: 15px;
  top: 50px;
  text-align: left;
}

.prime {
  width: 500px;
  height: 57px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.6);
  position: absolute;
  left: 15px;
  top: 75px;
  text-align: left;
}

.primer {
  width: 500px;
  height: 57px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.6);
  position: absolute;
  left: 15px;
  top: 100px;
  text-align: left;
}

.primera {
  width: 500px;
  height: 57px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(38, 38, 38, 0.6);
  position: absolute;
  left: 15px;
  top: 125px;
  text-align: left;
}
